@import url('https://fonts.googleapis.com/css2?family=Blaka&family=Gochi+Hand&family=Inspiration&family=Tiro+Devanagari+Hindi&display=swap');

.paper{
    position: relative;
    width: 800px;
    height: 100px;
    background-image: url("https://img.freepik.com/free-photo/view-white-crumpled-paper_1194-7544.jpg?t=st=1653985038~exp=1653985638~hmac=6fdc9806c9d76d36df8b69f11a44fff86575c0db9615806829bcdfd3edfb1028&w=740");
    opacity: 0.8;
    margin: 5px;
    font-size: 30px;
    box-shadow: 2px 2px 5px black;
    transition-duration: 0.2s;
    border-radius: 20px;
    font-family: 'Gochi Hand', cursive;
}

.number{
    position:absolute;
    left: 10px;
    top: 30px;

}

.paper:hover{
    transform:scale(1.05);
    opacity: 1;
    z-index: 100;
}

.icons-wrapper{
    display: flex;
    flex-direction: column;
    position:absolute;
    right: 10px;
    top: 8px;
}

.icon{
    color:rgb(95, 3, 3);
    margin-top:4px;
}

.delete{
    background-color:red;
}

.icon:hover{
    background-color: rgb(0, 0, 0);
    color: white;
}

.done{
    background-color: lightseagreen;
}
.isdone{
    text-decoration: line-through;
}

.edit{
    background-color: yellow;
    
}
.input_area{
    display:flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

.input_edit{
    width: 60%;
    /* word-wrap: break-word; */
    overflow: hidden;
    border: none;
    background-color: gray;
    color: white;
    font-size: 25px;
    border-radius: 5px;
    /* text-overflow: clip; */
}

.text{
    padding: 10px;
    margin-left: 50px;
    border: none;
    font-size: 30px;
    outline: none;
    text-align: center;
    overflow: hidden;
    width: 600px;
    height: 60px;
}

.input_thumb{
    background-color: white;
    margin-left: 2px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    font-size: 25px;
    text-align: center;
    color: black;
}

.input_thumb:hover{
    background-color: black;
    color: white;
}
